*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --radius: 14px;
    --main-bg: #f4f1ec;
    --accent: #e8956d;
    --accent-light: rgba(232, 149, 109, 0.15);
    --sidebar-bg: #1a1a2e;
    --text-dark: #1a1a2e;
    --text-light: #888;
    --text-mid: #4a4a6a;
    --tag-bg: rgba(255, 255, 255, 0.08);
    --tag-text: #c8c5be;
    --border: rgba(26, 26, 46, 0.1);
    --font-display: 'DM Serif Display', Georgia, serif;
    --font-body: 'DM Sans', sans-serif;
}

body{
    font-family: var(--font-body);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.page{
    max-width: 1000px;

    display: grid;
    grid-template-columns: 280px 1fr;
    width: 100%;
    border-radius: var(--radius); /*But border radius is showing */
    background-color: #12f2df; /*Although there is a overflow property, this bg clr is not showing */
    overflow: hidden; /*I didn't understand this overflow property */
}

.main{
    background-color: var(--main-bg);
    padding: 44px 44px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title{
    font-family: var(--font-display);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);
    color: var(--text-dark);
}

.summary-text{
    font-size: 13px;
    color: var(--text-mid);
    font-size: 13.5px;
    line-height: 1.75;
}

.sidebar{
    background-color: var(--sidebar-bg);
    padding: 44px 28px;
}

.avatar{
    background-color: var(--accent);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.name{
    color: #f4f1ec;
    font-family: var(--font-display);
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 6px;
}

.role{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent);
    letter-spacing: 1.5px;
}

.divider{
    height: 1.5px;
    background-color:rgba(255, 255, 255, 0.08);
    margin: 24px 0;
}

.entry{
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.entry-title{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 1.3;
}

.entry-sub{
    font-size: 12px;
    color: var(--text-light);
    padding-top: 2px;
}

.entry-desc{
    font-size: 13px;
    color: var(--text-mid);
    font-size: 13.5px;
    line-height: 1.75;
}

.entry-meta{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}

.year{
    font-size: 12px;
    color: var(--text-light);
}

.cgpa{
    background-color: var(--accent-light);
    color: var(--accent);
    font-size: 12px;
    padding: 3px 9px;
    border-radius: 30px;
}

.entry.research-sec{
    display: flex;
    flex-direction: column;
    color: var(--text-mid);
    font-size: 13.5px;
    line-height: 1.75;
}

.entry-header{
    display: flex;
    flex-direction: column;
}

.tag-outline{
    font-size: 11px;
    font-weight: 500;
    color: var(--accent);
    border: 1px solid var(--accent);
    padding: 3px 10px;
    border-radius: 30px;
    white-space: nowrap;
    flex-shrink: 0;
    align-self: flex-start; /*I didn't understand align-self*/
    margin-top: 2px;
}

.contact-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon{
    color: var(--accent);
}

.contact-list li{
    font-size: 12px;
    display: flex;
    gap: 10px;
    color: rgb(144, 144, 144);
}

.contact-list a{
    color: var(--sidebar-text);
    text-decoration: none;
    transition: color 0.2s;
}

.contact-list a:hover{
    color: var(--accent);
}

.sidebar-heading{
    font-family: var(--font-body);
    font-size: 18px;
    color: var(--accent);
    padding-bottom: 15px;
}

.skills-block{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.skill-category{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skill-label{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(157, 157, 157);
}

.skill-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag{
    font-size: 10px;
    color: var(--tag-text);
    background-color: var(--tag-bg);
    padding: 3px 9px;
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.08);
}